{% extends "base_admin.html" %}
{% load i18n %}

{% block title %}Nuevo establecimiento{% endblock %}

{% block content %}

<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Establecimientos</h3>
        </div>
    </div>
</div>

<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

<!-- begin:: Content -->

<div class="col-lg-12">

    <!--begin::Portlet-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Crear nuevo establecimiento
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form class="kt-form" id="post_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            {% for hidden in establecimientoForm.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="kt-portlet__body">
                <div class="kt-section kt-section--first">
                    <div class="form-group">
                        <label>{{ establecimientoForm.nombre.label_tag }}</label>
                        {{ establecimientoForm.nombre }}
                        {{ establecimientoForm.nombre.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.pais.label_tag }}</label>
                        {{ establecimientoForm.pais }}
                        {{ establecimientoForm.pais.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.provincia.label_tag }}</label>
                        {{ establecimientoForm.provincia }}
                        {{ establecimientoForm.provincia.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.localidad.label_tag }}</label>
                        {{ establecimientoForm.localidad }}
                        {{ establecimientoForm.localidad.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.direccion.label_tag }}</label>
                        {{ establecimientoForm.direccion }}
                        {{ establecimientoForm.direccion.errors.as_text }}
                    </div>

                    <div class="form-group d-none">
                        <label>{{ establecimientoForm.direccion_lat.label_tag }}</label>
                        {{ establecimientoForm.direccion_lat }}
                        {{ establecimientoForm.direccion_lat.errors.as_text }}
                    </div>

                    <div class="form-group d-none">
                        <label>{{ establecimientoForm.direccion_lng.label_tag }}</label>
                        {{ establecimientoForm.direccion_lng }}
                        {{ establecimientoForm.direccion_lng.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.vestuario.label_tag }}</label>
                        {{ establecimientoForm.vestuario }}
                        {{ establecimientoForm.vestuario.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.asador.label_tag }}</label>
                        {{ establecimientoForm.asador }}
                        {{ establecimientoForm.asador.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.estacionamiento.label_tag }}</label>
                        {{ establecimientoForm.estacionamiento }}
                        {{ establecimientoForm.estacionamiento.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.duchas.label_tag }}</label>
                        {{ establecimientoForm.duchas }}
                        {{ establecimientoForm.duchas.errors.as_text }}
                    </div>

                    <div class="form-group">
                        <label>{{ establecimientoForm.descripcion.label_tag }}</label>
                        {{ establecimientoForm.descripcion }}
                        {{ establecimientoForm.descripcion.errors.as_text }}
                    </div>

                    <div class="row">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="form-group col-md-4">
                            <label>{{ form.label_tag }}</label>
                            {{ form }}
                            {{ form.errors.as_text }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">Continuar</button>
                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEC-BMj4RDe1yKpzvAFZatHS2HQhK6RUI&libraries=places"></script>

<script type="text/javascript">
    $('#id_direccion').attr('autocomplete', 'rutjfkde');

    // Google Places
    var input = document.getElementById('id_direccion');
    var autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function(){
     var place = autocomplete.getPlace();
     var latitude = place.geometry.location.lat();
     var longitude = place.geometry.location.lng();
     $('#id_direccion_lat').val(latitude);
     $('#id_direccion_lng').val(longitude);
    })
</script>

<script type="text/javascript">
    $('[name="establecimientos"]').addClass( "kt-menu__item--active kt-menu__item--open" );
    $('[name="agregar_establecimiento"]').addClass( "kt-menu__item--active" );
</script>

{% load static %}
<script src="{% static 'back/js/provin_optv2.js' %}"></script>


{% endblock %}
