{% load i18n %}{% autoescape off %}
{% blocktrans %}Has entrado en {{ site_name }} para cambiar tu contraseña. Para continuar con el proceso, haz click en el siguiente enlace:{% endblocktrans %}
{% block reset_link %}
{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Aviso: No respondas a estar dirección de correo electrónico. Para comunicarte con MisCanchas, escribe a info@miscanchas.com.ar" %}

{% trans "¡Hasta la próxima!" %}

{% blocktrans %}El equipo de MisCanchas{% endblocktrans %}

{% endautoescape %}
