{% extends "base.html" %}
{% load i18n %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Editar perfil</h2>
        <small>Desde esta sección podrá modificar la información de su cuenta.</small>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Contraseña cambiada</h5>
                </div>
                <div class="ibox-content text-center">
                <h4>¡Listo! La contraseña fue cambiada exitosamente</h4>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
    $(document).ready(function() {
        $( "input" ).addClass( "form-control" );
    });
    </script>
{% endblock %}